@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: #222;
  padding: 15px;
  border-radius: 10px;
}

#display {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
}

.row {
  display: flex;
}

button {
  width: 50px;
  height: 40px;
  margin: 3px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background: #444;
}
